@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slide down */
.slide-down-enter-active,
.slide-down-leave-active {
	transition: opacity 0.15s ease, transform 0.15s ease-out;
}
.slide-down-enter-from,
.slide-down-leave-to {
	opacity: 0;
	transform: translateY(-2px);
}

/* fade in */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.15s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
